[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/BlockBuilder57/fmt.git
	branch = v9.1.0-custom-assert
[submodule "vendor/tomlpp"]
	path = vendor/tomlpp
	url = https://github.com/marzer/tomlplusplus.git
	shallow = true